<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysdevelop.admin.mapper.BrandDao">
	<select id="getBrands" resultType="com.ysdevelop.admin.entity.Brand">
		SELECT 
			`id`,
			`name`
		FROM
			`t_ys_firuits_brand`
	</select>
	<select id="getBrandById" resultType="com.ysdevelop.admin.entity.Brand">
		SELECT 
			`name`,
			`description`
		FROM
			`t_ys_firuits_brand`
		WHERE
			`id` = #{id}
	</select>
	<select id="countByQueryMap" resultType="java.lang.Integer">
		SELECT
			count(id)
		FROM
			`t_ys_firuits_brand`
		WHERE 1=1
		<if test="queryMap.name != null and queryMap.name != 'null' and queryMap.name != '' ">
       and
       name like CONCAT('%',#{queryMap.name},'%') 
       </if>
       <if test="queryMap.status != null and queryMap.status != 'null' and queryMap.status != '' ">
        and
       status = #{queryMap.status}
       </if>
       <if test="queryMap.createTimeStart != null and queryMap.createTimeStart != 'null'  and queryMap.createTimeStart != '' ">
         and  <![CDATA[  `createTime` >= #{queryMap.createTimeStart} ]]>
       </if>
       <if test="queryMap.createTimeEnd != null and queryMap.createTimeEnd != 'null'  and queryMap.createTimeEnd != '' ">
         and  <![CDATA[  `createTime` <= #{queryMap.createTimeEnd} ]]>
       </if>	
       <if test="queryMap.updateTimeStart != null and queryMap.updateTimeStart != 'null'  and queryMap.updateTimeStart != '' ">
         and  <![CDATA[  `createTime` >= #{queryMap.updateTimeStart} ]]>
       </if>
       <if test="queryMap.updateTimeEnd != null and queryMap.updateTimeEnd != 'null'  and queryMap.updateTimeEnd != '' ">
         and  <![CDATA[  `createTime` <= #{queryMap.updateTimeEnd} ]]>
       </if>	
	</select>
	<select id="paginationByQueryMap" resultType="com.ysdevelop.admin.entity.Brand">
		SELECT
			id,
			name,
			description,
			createTime,
			updateTime,
			status
		FROM
			`t_ys_firuits_brand`
		WHERE 1=1
		<if test="queryMap.name != null and queryMap.name != 'null' and queryMap.name != '' ">
       and
       name like CONCAT('%',#{queryMap.name},'%') 
       </if>
       <if test="queryMap.status != null and queryMap.status != 'null' and queryMap.status != '' ">
        and
       status = #{queryMap.status}
       </if>
       <if test="queryMap.createTimeStart != null and queryMap.createTimeStart != 'null'  and queryMap.createTimeStart != '' ">
         and  <![CDATA[  `createTime` >= #{queryMap.createTimeStart} ]]>
       </if>
       <if test="queryMap.createTimeEnd != null and queryMap.createTimeEnd != 'null'  and queryMap.createTimeEnd != '' ">
         and  <![CDATA[  `createTime` <= #{queryMap.createTimeEnd} ]]>
       </if>	
       <if test="queryMap.updateTimeStart != null and queryMap.updateTimeStart != 'null'  and queryMap.updateTimeStart != '' ">
         and  <![CDATA[  `createTime` >= #{queryMap.updateTimeStart} ]]>
       </if>
       <if test="queryMap.updateTimeEnd != null and queryMap.updateTimeEnd != 'null'  and queryMap.updateTimeEnd != '' ">
         and  <![CDATA[  `createTime` <= #{queryMap.updateTimeEnd} ]]>
       </if>	
		ORDER BY
			`id` ASC
		LIMIT #{pagination.start},#{pagination.pageSize}
	</select>
	<update id="updateStatusById">
		UPDATE 
			`t_ys_firuits_brand` 
		SET 
			`updateTime` = now(),
			`status` = case
		WHEN
			`status` = 0 then 1
		WHEN 
			`status` = 1 then 0
		ELSE
			`status`
		END
		WHERE
			`id` = #{id}
	</update>
	<delete id="deleteBatchByIds">
		DELETE FROM `t_ys_firuits_brand`
		WHERE id IN
		<foreach collection="list" item="id" separator="," open="(" close=")" index="">
			#{id}
		</foreach>
	</delete>
	<update id="updateByQueryMap">
		UPDATE 
			`t_ys_firuits_brand` 
		<set>
				updateTime = now(),
			<if test="queryMap.name != null and queryMap.name != 'null' and queryMap.name != '' ">
		       name = #{queryMap.name},
	       </if>
			<if test="queryMap.description != null and queryMap.description != 'null' and queryMap.description != '' ">
		       description = #{queryMap.description},
	       </if>
		</set>
		WHERE
			`id` = #{queryMap.id}
	</update>
	<insert id="saveByQueryMap">
		INSERT INTO 
			`t_ys_firuits_brand`
			(`name`,`description`,`createTime`)
		VALUES
			(#{queryMap.name},#{queryMap.description},now())
	</insert>
</mapper>