<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysdevelop.admin.mapper.RolePermissionDao">
<insert id ="saveRolePermission">
insert into `t_ys_firuits_role_permission`(`roleId`,`permissionId`)
values(#{roleId},#{permissionId})
</insert>

<select id="getRolePermissionById" resultType="java.lang.Integer">
select `id`
from `t_ys_firuits_role_permission`
where roleId=#{roleId} and permissionId=#{permissionId}
</select>

<update id="deleteRolePermission">
delete from `t_ys_firuits_role_permission`
where roleId=#{roleId} and permissionId=#{permissionId}
</update>
</mapper>