<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysdevelop.shop.mapper.BrandDao">

	<select id="listByQueryMap" parameterType="java.util.Map" resultType="com.ysdevelop.shop.entity.Brand">
	 SELECT
      DISTINCT `b`.id as `id`,
      `b`.name as `name`
      FROM `t_ys_firuits_goods` as `g`
      LEFT JOIN `t_ys_firuits_brand` as `b` ON `b`.id = `g`.brandId
      LEFT JOIN `t_ys_firuits_category` as `c1` ON `g`.categoryId = `c1`.id AND `c1`.`level` = 2
      LEFT JOIN `t_ys_firuits_category` as `c2` ON `c2`.id = `c1`.parentId AND `c2`.`level` = 1
      WHERE 1=1
      and
       `b`.name IS NOT NULL 
       <if test="queryMap.categoryId != null and queryMap.categoryId != 'null' and queryMap.categoryId != '' ">
       and 
       `c1`.id = #{queryMap.categoryId}
       </if>
       <if test="queryMap.categorySupId != null and queryMap.categorySupId != 'null' and  queryMap.categorySupId != '' ">
       and
       `c2`.id = #{queryMap.categorySupId}
       </if>
       <if test="queryMap.query != null and queryMap.query != 'null' and queryMap.query != '' ">
         and (
        `g`.name like  CONCAT('%',#{queryMap.query},'%')
         or
        `g`.description like CONCAT('%',#{queryMap.query},'%')
         or
        `b`.name like CONCAT('%',#{queryMap.query},'%')
         or
         `c1`.name like CONCAT('%',#{queryMap.query},'%'))
       </if>
    
	</select>
</mapper>