<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysdevelop.shop.mapper.CartDao">

	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.ysdevelop.shop.entity.Cart">
	  insert into `t_ys_firuits_cart`(`memberId`,`totalItemCount`,`totalItemNo`,`totalPrice`,`createTime`) 
	  values(#{memberId},0,0,0,now())
	</insert>
	
	<select id="getByMemberId"  resultType="com.ysdevelop.shop.entity.Cart">
	  select
	  `id`,`memberId`,`totalItemCount`,`totalItemNo`,`totalPrice`
	  from `t_ys_firuits_cart`
	  where `memberId` = #{memberId}
	</select> 
	
	<select id="countGoodsById" resultType="java.lang.Integer" >
	  select 
	  sum(`item`.goodsCount) 
	  from `t_ys_firuits_cart` as `c`
	  left join `t_ys_firuits_cart_item` as `item` on `item`.cartId = `c`.id
	  where `c`.id = #{id}
	</select>

</mapper>