<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysdevelop.shop.mapper.CartItemDao">


	<select id="getByCartId" resultType="com.ysdevelop.shop.entity.CartItem">
		select
		`id`,`cartId`,`goodsId`,`goodsCount`
		from `t_ys_firuits_cart_item`
		where `cartId` = #{cartId} and `goodsId` = #{goodsId} and status = 0
	</select>

	<insert id="save" parameterType="com.ysdevelop.shop.entity.CartItem">
		insert into
		`t_ys_firuits_cart_item`(`cartId`,`goodsId`,`goodsCount`,`createTime`)
		values(#{cartId},#{goodsId},1,now())
	</insert>

	<update id="updateCartItemGoodsCount" parameterType="com.ysdevelop.shop.entity.CartItem">
		update
		`t_ys_firuits_cart_item`
		set `goodsCount` = #{goodsCount}
		where cartId =
		#{cartId} and goodsId = #{goodsId} and status = 0
	</update>

	<select id="listByCartId" resultType="com.ysdevelop.shop.entity.CartItem">
		select
		`item`.id as `id`,
		`item`.goodsCount as `goodsCount`,
		ROUND(`goods`.discoutPrice*`item`.goodsCount,2) as `goodsTotalPrice`,
		`goods`.id as `goodsId`,
		`goods`.name as `goodsName`,
		`goods`.imagePath as `goodsImagePath`,
		`goods`.discoutPrice as `goodsDiscoutPrice`,
		`goods`.price as `goodsPrice`
		from `t_ys_firuits_cart_item` as `item`
		left join `t_ys_firuits_goods` as `goods` on `goods`.id = `item`.goodsId
		where `item`.cartId = #{cartId} and `item`.status = 0
	</select>
	
	<update id="updateStatusById">
	  update `t_ys_firuits_cart_item` set status = 1 where id = #{id}
	</update>
	
	<update id="updateBatchByList" parameterType="java.util.List">
	 <foreach collection="items" item="item" index="index" open="" close="" separator=";">
	    update `t_ys_firuits_cart_item`  
        <set>  
            goodsCount=#{item.goodsCount},
            updateTime = now()  
        </set> 
            where id=#{item.id}
	 </foreach>
	</update>

</mapper>