<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysdevelop.shop.mapper.MemberDao">
   <insert id="save" parameterType="com.ysdevelop.shop.entity.Member">
   insert into `t_ys_firuits_mall_member`
   (`name`,`mobile`,`password`,`restaurant`,`telephone`,`province`,`city`,`detailAddress`,`createTime`)
   value(#{name},#{mobile},#{password},#{restaurant},#{telephone},#{province},#{city},#{detailAddress},now())
   </insert>
   
   <select id="countByMobile" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(`id`)
    from `t_ys_firuits_mall_member`
    where `mobile` = #{mobile}		
   </select>
   
   <select id="getByMobile" resultType="com.ysdevelop.shop.entity.Member">
    select 
    `id`,`name`,`mobile`,`password`
    from `t_ys_firuits_mall_member`
    where `mobile` = #{mobile}
   </select>
   
   <update id="updateNameAndMobileById">
   update `t_ys_firuits_mall_member`
   <if test="name != null and name != '' ">
   <set>
    name = #{name}
   </set>
   </if>
   <if test="mobile != null and mobile != '' ">
   <set>
    mobile = #{mobile}
   </set>
   </if>
   <where>
    id = #{id}
   </where>
   </update>
   
   <update id="updatePasswordById">
     update `t_ys_firuits_mall_member`
   <set>
    password = #{password}
   </set>
   <where>
    id = #{id}
   </where>
   
   </update>
   
</mapper>