<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysdevelop.api.shop.mapper.CartItemDao">


	<select id="getByCartId" resultType="com.ysdevelop.api.entity.CartItem">
		select
		`id`,`cartId`,`goodsId`,`goodsCount`
		from `t_ys_firuits_cart_item`
		where `cartId` = #{cartId} and `goodsId` = #{goodsId} and status = 0
	</select>

	<insert id="save" parameterType="com.ysdevelop.api.entity.CartItem">
		insert into
		`t_ys_firuits_cart_item`(`cartId`,`goodsId`,`goodsCount`,`createTime`)
		values(#{cartId},#{goodsId},1,now())
	</insert>

	<update id="updateCartItemGoodsCount" parameterType="com.ysdevelop.api.entity.CartItem">
		update
		`t_ys_firuits_cart_item`
		set `goodsCount` = #{goodsCount}
		where cartId =
		#{cartId} and goodsId = #{goodsId} and status = 0
	</update>

	<select id="listByCartId" resultType="com.ysdevelop.api.entity.CartItem">
		select
		`item`.id as `id`,
		`item`.goodsCount as `goodsCount`,
		ROUND(`goods`.discoutPrice*`item`.goodsCount,2) as `goodsTotalPrice`,
		`goods`.id as `goodsId`,
		`goods`.name as `goodsName`,
		`goods`.imagePath as `goodsImagePath`,
		`goods`.discoutPrice as `goodsPrice`
		from `t_ys_firuits_cart_item` as `item`
		left join `t_ys_firuits_goods` as `goods` on `goods`.id = `item`.goodsId
		where `item`.cartId = #{cartId} and `item`.status = 0
	</select>

</mapper>
